@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-1:#0a7b55;
  --brand-2:#0b1f2a;
  --brand-3:#f6f7f9;
  --text:#1b1f24;
  --muted:#6b7680;
}

html,body{height:100%}
body{
  color:var(--text);
  background:white;
}
a{color:inherit;text-decoration:none}
