services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: store
      POSTGRES_USER: store
      POSTGRES_PASSWORD: store
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://store:store@db:5432/store?schema=public
      PORT: "8080"
      NODE_ENV: "development"
      CORS_ORIGIN: "http://localhost:3000"
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    environment:
      NEXT_PUBLIC_API_BASE: "http://localhost:8080"
    depends_on:
      - backend
    ports:
      - "3000:3000"

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - frontend
      - backend
    ports:
      - "8088:80"
    volumes:
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  dbdata:
